<div class="row">
    <div >
        <br>
      <!-- <h2>Read Data: </h2> -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Descripcion</th>
            <th>Prioridad</th>
            <th>Enviada</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let notificacion of notificacions; let i = index">
            <td>{{notificacion._id}}</td>
            <td>{{notificacion.name}}</td>
            <td>{{notificacion.descr}}</td>
            <td>{{notificacion.prioridad}}</td>
            <td>{{notificacion.enviada}}</td>
            <td>
              <a (click)="editarNotificacion(i)" class="btn btn-success">
                Edit
              </a>
              <a (click)="eliminarNotificacion(notificacion._id)" class="btn btn-danger">
                Delete
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>  